* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: "Inter", sans-serif;
    line-height: 1.2;
    color: #666;
  }

  html {
    scroll-behavior: smooth;
  }
   /* Header */
  header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #ffffff;
    height: 150px;
  }

  .logo {
    display: flex;
    justify-content: center;
  }

  .logo img {
    width: 90%;
    max-width: 200px;
    height: auto;
    margin-top: 1rem;
    border-radius: 10px;
  }

  .navbar {
  position:sticky;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #4fabb4;
  color: white;
  padding: .5rem 1rem;
  top: 0;
  width: 100%;
  z-index: 1000;
  gap: 1.5rem;
  }

  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
  }

  .navbar a:hover {
    text-decoration: none;
  }

  .menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .container {
    max-width: 75%;
    margin: 0 auto;
    background-color: #f4f4f4;
    min-height: 100vh;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.10); 
    border-radius: 0 0 5px 5px;
  }

  hr{
    border-bottom: 2px solid #4fabb4;
    margin-top: -2px;
 }

  /* sections */
  section {
    padding: 3.5rem 2rem;
    height: auto;
    border-bottom: 1px solid #ccc;
  }
  

  section p {
    font-size: 1rem;
    text-align: justify;
}

  /* section home */
  .intro {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .banner {
    width: 65%;
    box-shadow: 4px 3px 3px #888888;
    height: 307px;
    background-color: #1d3557;
    background-image: url('./assets/img/imagem01.png');
    background-size: cover;
  }

  .banner img {
    width: 100%;
    max-width: 600px;
    height: 18rem;
  }

  .avisos {
    width: 30%;
    padding: .6rem;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
  }

  .faq-list {
    list-style: none;
    padding: 0;
  }
  
  .faq-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
    overflow: hidden;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f9f9f9;
    cursor: pointer;
  }
  
  .faq-question span {
    font-weight: bold;
  }
  
  .faq-toggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .faq-answer {
    display: none; 
    padding: 1rem;
    background-color: #ffffff;
    border-top: 1px solid #ccc;
  }

  .avisos h3 {
    color: #4fabb4;
    font-size: 20px;
    padding: 15px 10px;
    margin-top: 0;
  }

 /* Notícias*/

  .blog-flex {
    display: flex;
    gap: 1.2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.20);
    padding-top: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .blog-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 298px;
    overflow: hidden;
    text-align: left;
  }
  
  .blog-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  
  .blog-card h3 {
    font-size: 1.25rem;
    margin: 1rem;
    color: #333;
  }
  
  .blog-card p {
    font-size: 0.95rem;
    margin: 0 1rem 1rem;
    color: #666;
  }
  
  .read-more {
    width: 100%;
    text-align: center;
    font-size: 13px;
    display: inline-block;
    margin-top: .5rem;
    background-color: #4fabb4;
    color: white;
    padding: 0.5rem .5rem;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .read-more:hover {
    background-color: #ffffff;
    border: 1px solid #1d3557;
    color: #1d3557;
    transition: background-color 0.4s ease, color 0.4s ease;
  }

  /*Acesso Rápido */
.news_list{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.news_item{
  width: 90%;
  padding: 1rem;
  margin-bottom: 1rem;
}

.news_item ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.news_item li {
  width: 100%;
  margin-bottom: 0.5rem;
  float: left;
  padding: 10px;
  height: 2.7rem;
  margin-bottom: 0.5rem;
  background-color: #efefef;
}
.news_item li a {
  text-decoration: none;
  color: rgb(117, 116, 116);
  font-weight: 400;
  font-size: 14px;
}
.news_item li:hover {
  text-decoration: none;
  background-color: #4fabb4;
  color: #ffffff;
}
  

  /* FOOTER*/
  footer {
    height: auto;
    background-color: #3a7e85;;
    padding: 3rem 0;
    margin-top: 2rem;
    font-size: 0.95rem;
  }
  
  .footer-container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #fff;
  }
  
  .footer-col {
    flex: 1 1 200px;
    margin: 1rem;
  }
  
  .footer-col h4 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: #fff;
  }
  
  .footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-col ul li {
    margin-bottom: 0.3rem;
  }
  
  .footer-col a {
    text-decoration: none;
    color: #fff;
    transition: color 0.2s;
  }
  
  .footer-col a:hover {
    color: #003366;
  }
  
  
  /* Responsivo */
  @media (max-width: 600px) {
    .navbar {
      display: none;
      flex-direction: column;
      background-color:#1d3557;
      position: absolute;
      top: 70px;
      right: 0;
      width: 100%;
      padding: 1rem 2rem;
    }

    .navbar.active {
      display: flex;
    }

    .menu-toggle {
      display: block;
      background-color:#1d3557;
      width: 100%;
      color: white;
      align-self: center;
      text-align: center;
    }
  }
  

  /* Responsividade */
@media (max-width: 768px) {

  .container {
    max-width: 100%;
  }

  .intro {
    flex-direction: column;
    gap: 1.5rem;
  }

  .intro > div {
    width: 80%;
    height: 80%;
    max-width: 400px;
    min-width: 300px; 
    margin: 0 auto;
  }

  .blog-flex{
    margin: 0 auto;
    max-width: 400px;
    min-width: 300px;

  }
}